{# templates/lucky/number.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Lucky number page{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
{% endblock %}